django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
openpyxl
xlrd
pytz
requests
msal
certifi
dnspython
whitenoise
smpplib
cryptography
gunicorn
waitress
psycopg2-binary
celery
redis
razorpay

